@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px 5px 0px;
    min-height: 8%;
}

.navbar-logo {
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.nav-links li {
    list-style: none;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    background: linear-gradient(to right, #646464, #646464 50%, #000000 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 300ms ease;
}

.nav-link:hover {
    background-position: 0 100%;
}

.nav-link-box {
    padding: 5px;
}

.landingpage-wrapper {
    position: relative;

    height: 100%;
}

.landingpage-wrapper::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    
    background-image: url(./backgrounds/landingpage-background.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: .89;
}

.landingpage-content {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    justify-content: space-evenly;
}

.landingpage-text {
    padding: 50px 10px 50px 10px;
}

.landingpage-text-intro-heading {
    font-family: 'Rajdhani', sans-serif;
    font-size: 55px;
    letter-spacing: 1px;
    font-weight: 800;
    margin: auto;
}

.landingpage-text-intro-bottom {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: 600;
}

.landingpage-text-buttons {
    padding: 40px 0px 0px 0px;
}

.landingpage-text-buttons-button1 {
    border: 2px solid #000000;
    background: transparent;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin: auto;
    position: relative;
    z-index: 1;
}

.landingpage-text-buttons-button1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: -1;
    transition: transform 0.3s ease;
}

.landingpage-text-buttons-button1::after {
    transform: scaleX(0);
    transform-origin: left;
}

.landingpage-text-buttons-button1:hover::after {
    transform: scaleX(1);
}

.landingpage-image img {
    height: 50vh;
    padding: 0px 0px 50px 0px;
}

.about-section {
    background-color: white;
}

.about-section-container {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 50px 50px 50px;
}

.about-section-text {
    padding: 20px;
    background: linear-gradient(-45deg, #e4e4e4 1.25%, #fff 1.25%, #fff 48.75%, #e4e4e4 48.75%, #e4e4e4 51.25%, #fff 51.25%, #fff 98.75%, #e4e4e4 98.75%);
    background-size: 30px 30px;
    color: black;
}

.about-section-text-heading {
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.about-section-text-para {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.about-section-steam {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    background: linear-gradient(-45deg, #e4e4e4 1.25%, #fff 1.25%, #fff 48.75%, #e4e4e4 48.75%, #e4e4e4 51.25%, #fff 51.25%, #fff 98.75%, #e4e4e4 98.75%);
    background-size: 30px 30px;
    color: black;
}

.about-section-steam-profile {
    padding: 3px;
    display: flex;
}

.about-section-steam-href {
    text-decoration: none;
    color: #000000;
}

.steam-bold {
    font-weight: 900;
}

.steam-name {
    justify-content: right;
}

.about-section-steam img {
    height: 3vh;
    vertical-align: middle;
}

.contact-section {
    padding: 0 105px 50px 105px;
}

.contact-section-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    position: relative;
    border: 2px solid #000000;
}

.contact-section-container::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    
    background-color: #ffffff;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 27.5px 27.5px, linear-gradient(#e4e4e4 2.2px, transparent 2.2px) 0 -1.1px, linear-gradient(90deg, #e4e4e4 2.2px, #ffffff 2.2px) -1.1px 0;
    background-size: 55px 55px, 55px 55px, 27.5px 27.5px, 27.5px 27.5px;
    z-index: -1;
    opacity: .89;
}

.contact-section-contact {
    display: flex;
    flex-direction: column;
    color: #000000;
}

.contact-section-media {
    display: flex;
    flex-direction: column;
    color: #000000;
}

.contact-section-contact-heading-contact, .contact-section-contact-heading-media {
    font-family: 'Rajdhani', sans-serif;
    font-size: 27px;
}

.contact-section-contact-lists {
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    list-style: none;
}

.contact-section-contact-list-container {
    padding: 3px 0 3px 0;
}

.contact-section-contact-list {
    text-decoration: none;
    color: #000000;
}

@media (max-width:800px) {
    .landingpage-content {
        flex-direction: column;
    }

    .landingpage-text {
        text-align: center;
    }

    .landingpage-image img {
        height: 40vh;
    }

    .about-section-container {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .contact-section-container {
        flex-direction: column;
    }

    .contact-section-contact-heading-media {
        padding: 20px 0 0 0;
    }
}